html {
    font-size: 1.3em;
    /* ici je mets mes variables ré utilisable */
    --fontFamily: 'Raleway', sans-serif;
    --redColor: #c80000;
    --greyColor: #666;
    --greyLightColor: #ccc;
    /* les tailles */
    --paddingDefaut: 1.5rem;
    --sizeEmDefaut: 0.8em;
}

body {
    font-family: var(--fontFamily);
}

.container {
    background-color: yellow;
}

.header {
    background-color: var(--redColor);
    padding: var(--paddingDefaut);
    color: white;
}

.header__ofig {
    font-size: calc(var(--sizeEmDefaut)*2.5);
    font-weight: bold;
}

.header__suffix {
    font-size: var(--sizeEmDefaut);
    font-weight: bold;
}


.title {
    background-color: #666;
    padding: calc(var(--paddingDefaut)/2);
    color: white;
    text-align: center;
}

.title--italic {
    font-style: italic;
    font-size: calc(var(--sizeEmDefaut)*1.5);
}

.cards__container {
    display: flex;

}

.footer {
    background-color: var(--greyColor);
    padding: calc(var(--paddingDefaut)/2);
    color: white;
    text-align: center;
    font-size: var(--sizeEmDefaut);
    /* put the footer at the bottom of the page : */
    position: absolute;
    bottom: 0;
    width: 100%;

}